{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}

    {% include 'default/navbar.html.twig' %}

    <main role="main" class="container">

        <div class="container">
            <h1>{{ employee.name }}</h1>
            <h3>Working hard since {{ employee.incorporationDate|date('d-m-Y') }}</h3>

            <p><label>Id:</label> {{ employee.id }}</p>
            <p><label>Name:</label> {{ employee.name }}</p>
            <p><label>Email:</label> {{ employee.email }}</p>
        </div>

    </main><!-- /.container -->

{% endblock %}

{% block javascripts %}
{% endblock %}

